<h1>What's is ATP Stat?</h1>
<p>
  ATP Stat is a analytics service of atp tennis player activity.<br />
  Let's select a palyer and see analyzed data.
</p>
<h1>Players</h1>
<ul>
  <% @players.each do |player| %>
  <li><%= link_to(player.name, "/player/#{player.url_name}") %> (<%= player.url_id %>)</li>
  <% end %>
</ul>
